* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.App {
  height: 100vh;
  background-color: rgb(165, 146, 146);
  display: flex;
  justify-content: center;
  align-items: center;
}